.statistics {
  width: 400px;
  padding-top: 30px;
  box-shadow: -1px 1px 12px -6px rgba(34, 60, 80, 0.38);
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.statList {
  display: flex;
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
}

.item {
  padding: 15px 5px;
  flex: 1;
  color: #ffffff;
}

.label {
  margin-bottom: 8px;
  font-size: 16px;
  display: block;
  text-align: center;
}

.percentage {
  display: block;
  text-align: center;
  font-size: 22px;
}
